body {
  background: url(../images/press_bg.jpg);
  background-size: cover;
  
}

.container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navBar {
  position: fixed;
  overflow: visible;
  top: 0;
  width: 100%;
  left: 0;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

#myNavbar {
  background-color: transparent;
  font-family: 'Acme';
  text-decoration: underline;
  padding: 24px 56px;
  font-size: 30px;
}
.navbar-default {
  border-color: transparent;
}
.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

.navbar-default .navbar-nav li a {
  color: #A72611;
  padding: 20px 46px;
}

.navbar-default .navbar-nav li a:hover {
  background-color: #A72611;
  color: #fff;
}

.navbar-default .navbar-nav li a.active {
  background-color: #A72611;
  color: #fff;
}

.dropdown-menu {
  background-color: transparent;
}

.dropdown-menu li a {
  font-size: 20px;
}

.motto {
  #A72611;
  text-align: center;
}

.motto p {
  font-size: 24px;
  font-family: 'Sofia';
  color: #fff;
  animation: type 4s steps(38, end);
  overflow: hidden;
  white-space: nowrap;
}

@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.page-footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}

.page-footer img {
  margin-bottom: 8px;
}

.panel-footer {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 0px;
  background-color: #A72611;
  border-top: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-family: 'Lato';
  font-size: 20px;
  color: #fff;
}

.page-footer .footer-copyright {
  padding-top: 20px;
  text-align: center;
  background-color: #A72611;
  color: #fff;
  font-family: 'Acme';
  font-size: 20px;
}

.footer-copyright a {
  color: #fff;
  text-decoration: underline;
}

.page-footer h3 {
  font-family: 'Acme';
}

.social ul li {
  list-style-type: none;
  display: inline;
}

.social {
  text-align: center;
}

.social .btn-floating .fa-circle {
  color: transparent;
}

.footer-image {
  margin-top: 40px;
}

.sitemap ul li {
  list-style-type: none;
  padding: 6px;
  text-decoration: underline;
}

.sitemap a {
  color: #fff;
}

.sitemap a:hover {
  color: #ffb3b3;
}

.contact-info {
  text-align: center;
}
body{
	background:#ACD7E5;
}
.address-icon i{
	font-size: 36px;
	line-height: 32px;
}
.icons i{
	color: #fff;
	padding: 8px 0px;
	text-align: center;
	height: 30px;
	width: 30px;
	margin-right: 5px;
}
.fa-facebook{
	background-color: #3A5A99;
}
.fa-twitter{
	background-color: #39CBFA;
}
.fa-linkedin{
	background-color: #3D99C0;
}
.fa-github{
	background-color: #000;
}
#map{
	height: 250px;
	width: 100%;
}
