body {
  background: url(../images/press_bg.jpg);
  background-size: cover;
  /* display: inline; */

}

.logo {
  text-align: center;
  margin-top: 20px;
}

.logo img {
  margin: 20px;
}

.motto {
  text-align: center;
}

.motto p {
  margin: 10px;
  font-size: 30px;
  font-family: 'Sofia';
  color: #000;
  animation: type 4s steps(38, end);
  overflow: hidden;
  white-space: nowrap;
}

@keyframes type {
  0% {
    width: 0;
  }

  100% {
    width: 38ch;
  }
}

.topnav {
  text-align: center;
  background-color: transparent;
  margin-top: 20px;
  overflow: hidden;
}

.topnav .topnav-centered a {
  font-family: 'Acme';
  color: #A72611;
  text-decoration: underline;
  padding: 24px 56px;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #A72611;
  color: #fff;
}

.topnav a.active {
  background-color: #A72611;
  color: white;
}

 h1{
text-align: center;
}

#ricoh{
  height: 450px;
  width: 700px;
}
